#container {
  position: relative;
  display: flex;
  align-items: center;
  isolation: isolate;
  &.chosen::before {
    content: "";
    width: calc(100% + 8px);
    height: 120%;
    left: 0;
    position: absolute;
    background-color: #da4443;
    z-index: -1;
    border-radius: 5px;
  }
}

#flecha {
  position: absolute;
  height: 20px;
  padding-left: 20px;
  margin-right: 10px;
}

.card {
  display: flex;
  align-items: center;
  background-color: #fceab8;
  border-radius: 25px 5px 5px 25px;
  width: 90%;
  font-size: larger;
  padding-left: 5px;
  gap: 1rem;
  margin-left: 40px;
}

.circle {
  border-radius: 50%;
  height: 25px;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0, 0.125);
}

.picture {
  height: 30px;
}
