<div id="container" [ngClass]="{ chosen: chosen }">
  <img
    src="../../../assets/images/flecha.png"
    alt="flecha"
    id="flecha"
    *ngIf="chosen"
  />
  <div id="card" class="card" (click)="clicked.emit(id)">
    <div class="circle"></div>
    <img
      class="picture"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        id
      }}.png"
      alt=""
    />
    <span>No. {{ id }}</span>
    <!-- titlecase let us assign a Capital letter to each word -->
    <span *ngIf="data"> {{ data.name | titlecase }}</span>
  </div>
</div>
